<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LDChained.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63564D711D2AA7DC00AA756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63564D8A1D2AA7DD00AA756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63564D951D2AA7DD00AA756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
